<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619109474971-cjeb91mjum3sjrer8g5k7dtj7pvm8bvn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619109474971-cjeb91mjum3sjrer8g5k7dtj7pvm8bvn</string>
	<key>API_KEY</key>
	<string>AIzaSyBY811bnC1gqtMNm-u_j86AzNL1oNTG8k8</string>
	<key>GCM_SENDER_ID</key>
	<string>619109474971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gomigomimap.gomiCalendar</string>
	<key>PROJECT_ID</key>
	<string>gomicalender-19ab9</string>
	<key>STORAGE_BUCKET</key>
	<string>gomicalender-19ab9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619109474971:ios:316cb2d0dce65a0a465c3e</string>
</dict>
</plist>